doctype 5
html(lang="en")
	head
		title= title
		meta(charset='UTF-8')
		meta(name='description', content='Strength History is a tool used to store your strength training data.')
		meta(name='keywords', content='Strength History')
	body
		h1 Strength History
		p A web interface will be available eventually.
		- if (user)
			p You are #{user.username} 
				a(href='/logout') Logout
		- else
			- if (message)
				p #{message}
			form(action='/login', method='post')
				input(id='username', type='text', name='username', value='test')
				br
				input(id='password', type='password', name='password', value='test')
				br
				input(type='submit', value='Login')
		iframe(src='/test')
