doctype 5
html(lang="en")
	head
		title= title
		meta(charset='UTF-8')
		meta(name='description', content='Strength History is a tool used to store your strength training data.')
		meta(name='keywords', content='Strength History')
	body
		h1 Strength History
		p A web interface will be available eventually.
