extends layout

block content
	h1 Strength History
	p A web interface will be available eventually.
	- if (user)
		p You are #{user.username}!
			br
			a(href='/logout') Logout
		select(id='select')
			option Save
			option Remove
			option Update
		br
		label(for='id') id
		input(id='id', type='text', value='someid')
		label(for='time') time
		input(id='time', type='text', value='1374951455047')
		label(for='weight') weight
		input(id='weight', type='text', value='79.5')
		label(for='name') name
		input(id='name', type='text', value='Press')
		label(for='standardIncrease') stdinc
		input(id='standardIncrease', type='text', value='5.4')
		label(for='exercises') exercises
		input(id='exercises', type='text', value='id1,id2,id3')
		br
		input(id='sendexercise', type='button', value='Send Exercise')
		input(id='sendweight', type='button', value='Send Weight')
		input(id='sendworkout', type='button', value='Send Workout')
		br
	- else
		- if (message)
			p #{message}
		form(action='/login', method='post')
			input(id='username', type='text', name='username', value='test')
			br
			input(id='password', type='password', name='password', value='test')
			br
			input(type='submit', value='Login')
	iframe(src='/test')
