extends layout

block content
	h1 Strength History
	p A web interface will be available eventually.
	- if (user)
		p You are #{user.username}!
			br
			a(href='/logout') Logout
			form(action='/weight?remove', method='post')
				input(id='id', type='text', name='id', value='someid')
				br
				input(type='submit', value='Remove')
			form(action='/weight?save', method='post')
				input(id='time', type='text', name='time', value='1374951455047')
				br
				input(id='weight', type='text', name='weight', value='70.5')
				br
				input(type='submit', value='Save')
			form(action='/weight?update', method='post')
				input(id='id', type='text', name='id', value='someid')
				br
				input(id='time', type='text', name='time', value='1374951455047')
				br
				input(id='weight', type='text', name='weight', value='79.5')
				br
				input(type='submit', value='Update')
	- else
		- if (message)
			p #{message}
		form(action='/login', method='post')
			input(id='username', type='text', name='username', value='test')
			br
			input(id='password', type='password', name='password', value='test')
			br
			input(type='submit', value='Login')
	iframe(src='/test')
	iframe(src='/weight?latest')
	iframe(src='/weight?pages')
	iframe(src='/weight?query&page=0')
