extends layout

block content
	h1 Strength History
	p A web interface will be available eventually.
	- if (user)
		p You are #{user.username}!
			br
			a(href='/logout') Logout
	- else
		- if (message)
			p #{message}
		form(action='/login', method='post')
			input(id='username', type='text', name='username', value='test')
			br
			input(id='password', type='password', name='password', value='test')
			br
			input(type='submit', value='Login')
	iframe(src='/test')
