doctype 5
html(lang='en')
	head
		title= title
		meta(charset='UTF-8')
		meta(name='description', content='Strength History is a tool used to store your strength training data.')
		meta(name='keywords', content='Strength History')
		link(rel='stylesheet', href='/css/')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/')
	body
		#top
			a(href='/')
				img(src='/img/logo.png')
			#left
				a(href='/') Home
			#right
				- if (user)
					a(href='/logout') Logout
				- else
					a(href='/login') Login
		#main
			h1(id='page')= page
			block content
