doctype 5
html(lang='en')
	head
		title= title
		meta(charset='UTF-8')
		meta(name='description', content='Strength History is a tool used to store your strength training data.')
		meta(name='keywords', content='Strength History')
		link(rel='stylesheet', href='/css/')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/')
	body
		div(id='top')
			a(href='')
				img(src='/img/logo.png')
			div(id='left')
				a(href='/') Home
			div(id='right')
				- if (user)
					a(href='/logout') Logout
				- else
					a(href='/login') Login
		div(id='main')
			h1= page
			block content
