extends layout

block content
	- if (message)
		p(class='error') #{message}
	form(action='/login', method='post')
		input(id='username', type='text', name='username', value='test')
		br
		input(id='password', type='password', name='password', value='test')
		br
		input(type='submit', value='Login')
