html,body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
}

h1 {
	margin: 5px 0px;
}

#top {
	position: fixed;
	top: 0px;
	padding: 0px 100px;
	height: 48px;
	width: 100%;
	background-color: #FF8800;
}

#top a {
	display: inline-block;
	height: 48px;
	text-decoration: none;
}

#top div a {
	padding: 0px 10px;
	line-height: 48px;
	color: #FFFFFF;
}

#top a:hover {
	background-color: #FFD199;
}

#top a:active {
	background-color: #FF8800;
}

#left {
	position: fixed;
	top: 0px;
	left: 148px;
}

#right {
	position: fixed;
	top: 0px;
	right: 100px;
}

#main {
	margin: 58px 100px 10px 100px;
	padding: 10px;
	background-color: #FFFFFF;
}

.error {
	color: #FF0000;
}